<html>
    <body>
        <h3>Nome do sensor: <%= @nome %></h3>
        <h3>Faixa de temperatura: de <%= @temp_min %> há <%= @temp_max %></h3>
        <h3>Temperatura media geral: <%= @temp_med %></h3>
        <h3> Temperatura  mais recente: <%= @ultimo_registro %></h3>
        <h3> Temperatura  mais recente esta na faixa de temperatura: <%= @dentro_faixa %></h3>
    </body>
</html>